/* @event-calendar library theming */
@import url(@event-calendar/core/index.css);

/* other files */
@import url(event-calendar-theming.css);

.set-in-obsidian-wrapper > h3,
.set-in-obsidian-wrapper > h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.set-in-obsidian-wrapper {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.set-in-obsidian-timeline {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-bottom: 10px;
}
